body {
	padding: 10px;
}

a {
	text-decoration: none;
	color: #44c;
}

a:hover {
	text-decoration: underline;
	color: #272;
}

li {
	padding-top: 2px;
}

.author-info {
	font-size: 11pt;
	font-family: Times;
}

.author-name {
	font-weight: bold;
	font-size:12pt;
	color: #48d;
}

ol.ref-item {
	font-family: Times;
	font-size: 11pt;
}

.year {
	font-family: Verdana;
	font-size: 10pt;
}

sup {
	font-size: 80%;
	vertical-align: super;
	line-height: 0;
}

sub {
	font-size: 80%;
	vertical-align: lower;
	line-height: 0;
}